body {
    font-family: system-ui, sans-serif;
    margin: 2rem;
    display: flex;
    justify-content: center;
}

html {
    height: 100%;
}

.container {
    margin: auto;
    width: 1600px;
}

#prose {
    max-width: 800px;
}

button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.3rem;
    box-sizing: border-box;
}

.faq {
    padding-top: 4rem;
    max-width: 800px;
}

.question {
    font-weight: 700;
    line-height: 2rem;
}

.answer {
    font-weight: 400;
}

#agencyListContainer {
    max-width: 50vw;
}

label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input {
    width: calc(100% - 2rem);
    padding: 0.5rem;
    margin-top: 0.5rem;
}

button {
    margin-top: 0.5rem;
}

select {
    padding: 0.5rem;
    margin-right: 0.5rem;
    max-width: calc(100% - 3rem);
}

.extraField {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

#app {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

.input-column,
.output-column {
  padding: 1rem;
  box-sizing: border-box;
}

.left-column {
    margin-right: 2rem;
}

#comparison {
    margin: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#comparison > div {
    display: inline;
}

#comparison > div > h2 {
    display: inline;
}

#share-div {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.output-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

@media (min-width: 1600px) {
    #app {
        max-width: 1600px;
    }

    button {
        width: 500px;
    }

    .interior-container > div {
        width: 400px;
    }

    #comparison {
        width: 800px;
    }

    .output {
        max-width: 800px;
    }
}

@media (max-width: 1000px) {
    #app {
        display: block;
    }

    .output-column {
        display: block !important;
    }

    body {
        margin: 0.5rem;
    }

    h1 {
        text-align: center;
    }

    .container {
        width: 100%;
        max-width: 750px;
    }

    select {
        max-width: calc(100vw - 5rem);
    }

    input {
        width: calc(100vw - 3rem);
        max-width: 750px;
    }

    #comparison {
        display: block;
    }
}

.output {
    display: none;
}
