@import "tailwindcss";

:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Work Sans', sans-serif;
  --transbay-red: #cd482c;
  --bay-gold: #ffb81c;
  --transbay-teal: #1d3a47;
}

body {
  font-family: var(--font-body);
}

h1,h2,h3,h4,h5,h6,button {
  font-family: var(--font-heading);
  font-weight: 800;
  letter-spacing: 0.5px;
}

.output {
  display: none;
}

.hidden {
  display: none;
}

.fromto-select {
  @apply w-full max-w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-[var(--transbay-teal)] bg-white;
}

.fromto-div {
  @apply flex flex-col md:flex-row md:items-center md:space-x-4 pt-2;
}

.fromto-label {
  @apply block font-medium text-slate-700 mb-2 md:mb-0 w-40;
}

.agency-input {
  @apply flex-grow w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-[var(--transbay-teal)];
}

.dismiss-button {
  @apply ml-2 text-gray-500 hover:text-red-600 font-bold text-2xl leading-none shrink-0;
}

@media (max-width: 1280px) {
  .mobile-start-hidden {
    display: none;
  }
}